.calculator {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    margin-bottom: 18px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 21px;
    }

    &__icon {
        margin-right: 16px;
    }
}

.information {
    margin-bottom: 32px;

    &__amount {
        padding: 24px 32px 27px;

        @media only screen and (min-width: 768px) {
            padding: 24px 32px 16px;
        }
    }

    &__caption {
        padding: 24px 32px;
        text-align: center;

        @media only screen and (min-width: 768px) {
            padding: 24px 32px 16px;
            text-align: left;
        }
    }
}
