.calculator {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    margin-bottom: 18px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 21px;
    }

    &__icon {
        margin-right: 16px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__field {
        display: flex;
        flex-direction: column;
        

        @media only screen and (min-width: 768px) {
            margin-left: 8px;
            margin-right: 8px;
        }

        &:first-of-type {
            margin-bottom: 16px;

            @media only screen and (min-width: 768px) {
                margin-left: 0;
                margin-bottom: 0;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__first {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 56%;
        }
    }

    &__second {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 40%;
        }
    }
}

.information {
    margin-bottom: 32px;

    &__amount {
        padding: 24px 32px 27px;

        @media only screen and (min-width: 768px) {
            padding: 24px 32px 16px;
        }
    }

    &__caption {
        padding: 24px 32px;
        text-align: center;

        @media only screen and (min-width: 768px) {
            padding: 24px 32px 16px;
            text-align: left;
        }
    }
}

.input {
    &__field {
        background: #FFFFFF;
        border: 1px solid #E9EEF2;
        border-radius: 4px;
        font-weight: 500;
        color: #4D6475;
        padding: 13px;
        width: 100%;
        
        display: flex;
        align-items: center;

        &--focus-within:focus-within {
            outline: -webkit-focus-ring-color auto 1px;

            input {
                outline: none;
            }
        }

        input {
            border: none;
            color: inherit;
            width: 100%;
        }

        &--icon {
            display: flex;
        }
    }

    &__icon {
        margin-right: 3px;

        @media only screen and (min-width: 768px) {
            margin-right: 13px;
        }
    }
}


.datepicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;

    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        border: none;
        background: transparent;
    }
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.spacing {
    &__xs {
        margin-bottom: 4px;
    }
}

