.card {
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
    border-radius: 8px;
    padding: 24px 20px 40px;

    @media only screen and (min-width: 768px) {
        padding: 35px 40px 40px;
    }

    &--small {
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        border: 1px solid #E9EEF2;
        
    }

    &--dark {
        background: #F4F8FA;
        border: 1px solid #E9EEF2;
    }
}