// TODO: Refactor, make it more generic
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__field {
        display: flex;
        flex-direction: column;
        

        @media only screen and (min-width: 768px) {
            margin-left: 8px;
            margin-right: 8px;
        }

        &:first-of-type {
            margin-bottom: 16px;

            @media only screen and (min-width: 768px) {
                margin-left: 0;
                margin-bottom: 0;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__first {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 56%;
        }
    }

    &__second {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 40%;
        }
    }
}